@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$color1: #fff;
$color2: #ededed;
$color3: #c0c0c0;
$color4: #2e2e2e;
$color5: #04879C;
$color51: rgba($color: #0C3C78, $alpha: 0.1);
$color6: #0C3C78;
$color7: #090030;
$color8: #F30A49;

$font1: 'Open Sans', sans-serif;
$font2: 'Poppins', sans-serif;